/* Fade masks */
.fade-left {
  background: linear-gradient(to right, hsla(270, 92%, 3%, 1), hsla(270, 92%, 3%, 0));
}
.fade-right {
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

/* Hide scrollbars */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}

/* Smooth scrolling */
.scrollbar-hide {
  scroll-behavior: smooth;
}
