h1,
h2,
h3,
h4 {
  font-family: var(--font-sans);
  @apply uppercase tracking-wide;
}

.h1 {
  @apply text-2xl lg:text-[38px] leading-[130%];
}
.h2 {
  @apply text-xl lg:text-2xl leading-[130%] tracking-wider;
}

body,
p,
span,
div,
li {
  font-family: var(--font-serif);
}

code,
pre {
  font-family: var(--font-mono);
}
