/* Use :root vars only for things that Tailwind doesn’t handle well (like clip paths, SVG filters, complex gradients, or runtime changes */
:root {
  --bubblegum-gradient: linear-gradient(64deg, #ff77ed, #fcdfed);
}

.gradient-bubblegum {
  background: var(--bubblegum-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.bg-glitch {
  background-image:
    url("~/assets/images/disco-glitch-bg.png"), url("~/assets/images/star-blast-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: glitch 2.5s infinite;
}
