@font-face {
  font-family: "Rowdies";
  src: url("https://fonts.gstatic.com/s/rowdies/v15/pttGNOsCxpg2lqhcn6q9bB5v.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rowdies";
  src: url("https://fonts.gstatic.com/s/rowdies/v15/pttGNOsCxpg2lqhcn6q9bB5v.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Rowdies";
  src: url("https://fonts.gstatic.com/s/rowdies/v15/pttGNOsCxpg2lqhcn6q9bB5v.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Mono";
  src: url("https://fonts.gstatic.com/s/googlesansmono/v1/0Pngs8XK0q3smdSuF2mwrmDhnll49RWZWM.woff2")
    format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Mono";
  src: url("https://fonts.gstatic.com/s/googlesansmono/v1/0Pngs8XK0q3smdSuF2mwrmDhnll49RWZWM.woff2")
    format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Mono";
  src: url("https://fonts.gstatic.com/s/googlesansmono/v1/0Pngs8XK0q3smdSuF2mwrmDhnll49RWZWM.woff2")
    format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Google Sans Mono";
  src: url("https://fonts.gstatic.com/s/googlesansmono/v1/0Pngs8XK0q3smdSuF2mwrmDhnll49RWZWM.woff2")
    format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}
