@import "./typography/fonts.css";
@import "tailwindcss";
@import "./typography/rules.css";

@theme {
  --font-sans:
    "Space Grotesk", "ui-sans-serif", "system-ui", "sans-serif", "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: "Google Sans Mono", "ui-serif", "Georgia", serif;
  --font-mono:
    "Google Sans Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-accent: "Yarnings 20", sans-serif;

  --color-abyss: #0f0d13;

  --color-avocado-cream-100: #e9eedf;
  --color-avocado-cream-200: #c4c7bf;

  --color-cream-100: hsla(0, 38%, 90%, 1);
  --color-cream-200: hsla(0, 39%, 84%, 0.8);

  --color-galaxy: hsla(270, 92%, 3%, 1);
  --color-galaxy-400: hsla(270, 92%, 3%, 1);

  --color-bubblegum: hsla(309, 78%, 53%, 1);
  --color-bubblegum-300: hsla(305, 46%, 74%, 1);
  --color-bubblegum-400: hsla(313, 100%, 74%, 1);
  --color-bubblegum-500: hsla(309, 78%, 53%, 1);
  --color-bubblegum-600: hsla(313, 97%, 53%, 1);

  --color-purple-pizzazz-50: #fff3fe;
  --color-purple-pizzazz-100: #ffe7fd;
  --color-purple-pizzazz-200: #ffcdfa;
  --color-purple-pizzazz-300: #ffa6f3;
  --color-purple-pizzazz-400: #ff71eb;
  --color-purple-pizzazz-500: #fa3be1;
  --color-purple-pizzazz-600: #e52ac9;
  --color-purple-pizzazz-700: #b8139b;
  --color-purple-pizzazz-800: #96127e;
  --color-purple-pizzazz-900: #7b1466;
  --color-purple-pizzazz-950: #530042;

  --animate-sparkle: pulse 2s ease-in-out;
  --animate-ping: ping 1s cubic-bezier(0, 0, 0.2, 1) infinite;
  --animate-fade-in: fade-in 0.7s ease-out forwards;

  @keyframes pulse {
    0%, 100%: {
      opacity: 0.9;
      transform: scale(1);
    }
    50%: {
      opacity: 1;
    }
  }

  @keyframes fade-in: {
    0%: {
      opacity: 0;
      transform: scale(0.9);
    }
    50%: {
      opacity: 0.5;
      transform: scale(1.02);
    }
    100%: {
      opacity: 1;
      transform: scale(1);
    }
  }
}

@import "./custom.css";
