@import "tailwindcss";

@font-face {
  font-family: 'Space Grotesk';
  src: url('/fonts/SpaceGrotesk.ttf'), format('ttf');
  font-weight: 100 1000;
  font-size: 8 200;
}

@theme {
  --font-display: "Space Grotesk", "serif";
  --font-serif: "Space Grotesk", "serif";
  --color-cream-100: hsla(0, 38%, 90%, 1);
  --color-cream-200: hsla(0, 39%, 84%, 0.8);
  --color-galaxy: hsla(270, 92%, 3%, 1);
  --color-bubblegum: hsla(309, 78%, 53%, 1);
  --color-bubblegum-400: hsla(313, 100%, 74%, 1);
  --color-bubblegum-500: hsla(309, 78%, 53%, 1);
  --color-bubblegum-600: hsla(313, 97%, 53%, 1);
}

